/*
* File: style.css
* Author: Resperger Patrik
* Copyright: 2023, Resperger Patrik
* Group: Szoft I/1/E
* Date: 2023-03-25
* Github: https://github.com/respat/
* Licenc: GNU GPL
*/

@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.szerzo {
    margin-top: 40px;
    text-align: center;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
}

.idezet {
    text-align: center;
    font-family: 'Esteban', sans-serif;
    font-size: large;
    margin-bottom: 20px;
    width: 40%;
}

body {
    background: #C6FFDD;
    background: -webkit-linear-gradient(to left, #f7797d, #FBD786, #C6FFDD);  
    background: linear-gradient(to left, #f7797d, #FBD786, #C6FFDD); 
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.container {
    min-height: 735px;
    display: flex;
    height: 100vh;
    justify-content:start;
    align-items: center;
    flex-direction: column;
}

h1 {
    margin-top: 2em;
    margin-bottom: 2em;
}

table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(80px);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

tr {
    background-color: rgba(255, 255, 255, 0);
}

th {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow:  0 2px 14px -14px rgba(0, 0, 0, 0.8);
}

td, th {
    width: 100px;
    height: 4em;
    text-align: center;
    cursor:default;
}

td:first-letter {
    text-transform: capitalize;
}

table {
    overflow: hidden;
  }
  
  tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  td, th {
    position: relative;
  }

  td:hover::after {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: -1;
  }

.icon {
    display: none;
}

.icon-head1 img {
    width: 20px;
}

.icon-head2 img {
    width: 24px;
}
.icon-head3 img {
    width: 20px;
}
.icon-head4 img {
    width: 20px;
}
.icon-head5 img {
    width: 24px;
}

@media (max-width: 850px) {

    .idezet {
        font-size: 14px;
        width: 90%;
    }

    h1 {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    .szerzo {
        font-size: 14px;
    }

    table {
        font-size: 14px;
        width: 90%;
    }

    th {
        font-size: 12px;
    }

}

@media (max-width: 650px) {

}

@media (max-width: 420px) {
    .text-head {
        display: none;
    }

    .icon {
        display: table-cell;    
    }

    table {
        font-size: 14px;
        width: 100%;
    }
}
